body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.container {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: #fff;
}

.wanted-person {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}