body {
  font-family: Arial, sans-serif;
  background-color: #000000;
}

.container {
  width:  90%;
  margin: auto;
  padding: 20px;
  background-color: #8cc7a6;
}

.wanted-person {
  width: 250px;
  background: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.3s;
}
.wanted-person img {
  margin: 0 auto 20px;
}
.wanted-person a {
  display: block;
  margin-top: 8px;
  text-decoration: none;
  color: blue;
}
.viewbutton{
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  text-decoration: none;
  transition: background 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.viewbutton:hover{
  background: linear-gradient(to right, #f75d42, #f76184);
  transform: scale(1.02);
}
.wanted-grid {
 display: block;
}

.wanted-person {
  width: 100%;  
  max-width: 700px;  
  margin: 10px auto; 

}

.wanted-person:hover {
  transform: scale(1.03);
}

.wanted-person img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
* {
  box-sizing: border-box;
}