<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>FBI Wanted List</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>FBI MOST WANTED</h1>

    <div class="wanted-grid">
      {% for item in items %}
        <div class="wanted-person">
          <h2>{{ item.title }}</h2>
          {% if item.images %}
            <img src="{{ item.images[0].original }}" alt="{{ item.title }}" width="200">
          {% endif %}
          <a href="{{ url_for('wanted', uid=item.uid) }}" class="viewbutton">View Details</a>
        </div>
      {% endfor %}
    </div>
    
    <div class="pagination">
      {% if page > 1 %}
        <a href="{{ url_for('index', page=page - 1) }}">Previous</a>
      {% endif %}

      <span>Page {{ page }}</span>

      {% if (page * 20) < total %}
        <a href="{{ url_for('index', page=page + 1) }}">Next</a>
      {% endif %}

      <form method="get" action="/">
        <input type="text" name="name" placeholder="Search by name" value="{{ name }}">
        <button type="submit">Search</button>
      </form>
      <form method="get" action="/">
        <input type="text" name="name" placeholder="Search by name" value="{{ name }}">
        
        <select name="offices">
          <option value="">All Offices</option>
          <option value="newyork" {% if request.args.get('offices') == 'newyork' %}selected{% endif %}>New York</option>
          <option value="losangeles" {% if request.args.get('offices') == 'losangeles' %}selected{% endif %}>Los Angeles</option> 
          <option value="chicago" {% if request.args.get('offices') == 'chicago' %}selected{% endif %}>Chicago</option>
          <option value="miami" {% if request.args.get('offices') == 'chicago' %}selected{% endif %}>Miami</option>
          <! mr whalen if ur seeing this i'm not hard coding i just want to filter by major cities!>
        </select>
      
        <button type="submit">Search</button>
      </form>
    </div>
  </div>
</body>
</html>
